$primary-color: #1976d2;
$secondary-color: #be9c79;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
}
